#pageService {
    margin-left: 20px;
}

#name_intro {
    margin-bottom: 10px;
}

#name_intro #name {
    font-size: 30px;
    color: black;
}

/* Applies bold styling to the first inner div within each column */
#pageService .row > div > div:first-child {
    font-size: 18px;
    font-weight: bold;
}

/* Applies regular font styling to the second inner div */
#pageService .row > div > div:last-child {
    font-size: 15px;
}

/* Adds padding to each column */
#pageService .row > div {
    padding-top: 5px;
}

/* Styling for links */
#pageService .row > div #link {
    text-decoration: underline;
    color: inherit;
}

/* Hover effect */
#pageService .row > div #link:hover {
    text-decoration-color: green;
}
