#pageService{
    margin-left:20px;
}
#name_intro{
    margin-bottom:10px;
}
#name_intro #name{
    font-size:30px;
    color:black;

}
#pageService .row div div:first-child{
    font-size:18px;
    font-weight:bold;
}
#pageService .row div div:last-child{
    font-size:15px;
}
#pageService .row div{
    padding-top:5px;
}
#pageService .row div #link{
    text-decoration:underline;
}
#pageSerivice .row div #link:hover{
    text-decoration-color:green;
}