html{
    scrollbar-color:#7F4444 white;
}

.nav-link {
    position: relative;
    color: #7F4444;
    transition: color 0.1s ease;
}
.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    left: 50%;
    bottom: 0;
    background-color: #7F4444;
    transition: 0.1s ease;
    transform: translateX(-50%);
}

.nav-link:hover::after{
    width: 100%;
}
  body {
	    font: 10px sans-serif;
      width:100%;
	}
	.linage {
	    fill: none;
	    stroke: #7F4444;
	}
	.marriage {
	    fill: none;
	    stroke: #7F4444;
	}
	.marriageNode {
			background-color: #7F4444;
			border-radius: 50%;
	}
  

  
#person_image{
  display: inline-block;         /* ensures box-model applies */
  border: 2px solid transparent; /* placeholder for hover color */
  cursor: pointer;               /* hand pointer */
  transition: 
    transform 0.3s ease, 
    opacity 0.3s ease, 
    filter 0.3s ease, 
    border-color 0.3s ease;
}
#person_image:hover{
  transform: scale(1.3);         /* zoom in */
  opacity: 1;                    /* full brightness */
  filter: grayscale(50%);        /* muted color */
  opacity: 0.8;                  /* slightly dim to indicate interactivity */
  box-shadow:5px 10px 18px #7F4444;
}



	.man {
      background-color:white;
			border-style: solid;
			border-width: 2px;
      border-color:#7F4444;
			box-sizing: border-box;
      padding-bottom:20px;
	}
	.woman {
      background-color:white;
			border-style: solid;
			border-width: 2px;
      border-color:#7F4444;
			box-sizing: border-box;
      padding-bottom:20px;
	}

  .man:hover,.woman:hover{
    border:5px solid #9F5E5E;
  }


	.emphasis{
			font-style: italic;
	}
	p {
		padding:0;
		margin:0;
	}

#searchdynamic{
  margin:0 auto;
  width:450px;
}


/*
#searchDropdown{
    width: 80%; 
    left: 50%; 
    transform: translateX(-50%);

    border:1px solid red;
    list-style-type:none;
    position:absolute;
    z-index:3;
    padding:0;
    margin:0;
    
    background-color:#f8f9fa;

}
    */
#intro_ai_link,#intro_list_and_tree{
  color:#7F4444;
  text-decoration-color:#7F4444;
}
#main_page{
  padding-top:60px;
}








fieldset{
    border: 3px solid #7F4444;      /* Show border */
    padding: 1rem;               /* Add spacing inside */
}
#searchOption{
    background: none; 
    border: none; 
    padding: 8; 
    cursor: pointer;
}
/* Styling for tree search link */
#treeSearch {
  color: blue;
  text-decoration: underline;
  border-radius: 0px;
}


/* Chatbox */



#chat-box {
      width: 100%;
      max-width: 350px;
      overflow-y:auto;
      height: 375px;
      padding: 10px;
      cursor:grab;
      border-top:1px solid #ccc;
      border-left:1px solid #ccc;
      border-right:1px solid #ccc;
}
#chat-box::-webkit-scrollbar-track{
  background:#7F4444;
} 


#header{
  display:flex;
  align-items:center;
  max-width:350px;
  padding: 20px 7px 7px;
  background-color: #7F4444;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#header #image{
  flex: 0 0 10%;
}
#header #text{
  flex:1;
  margin-left:15px;
}
#header #text #quickness{
  color:white;
  font-size:13px;
}
#header #text #message{
  font-size:20px;
  color:white;
  font-weight:bold;
}
#user_message{
  padding-top:15px;
  padding-left:15px;
  padding-bottom:15px;
  border-radius:6px;
  background-color:#EFF5F6;
}
#bot_message{
  display: flex;
  width: fit-content;       
  margin-left: auto;         
  padding-top:15px;
  padding-left:15px;
  padding-bottom:15px;
  padding-right:15px;
  border-radius: 6px;
  background-color: #7F4444;
  color: white;  
  background-color:#7F4444;
  margin-top:7px;

}

#chatbox-bottom{
  max-width:350px;
  
  padding-bottom:3px;
  border-right:1px solid #ccc;
  border-left:1px solid #ccc;
}




#chatbox-bottom #question{
  background-color:#EFF5F6;
  border-radius:15px;
  padding-left:11px;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:3px;
  margin-left:5px;
  width:85%;
  font-weight:bold;
  border:0;
}
#chatbox-bottom #question:hover{
    box-shadow:2px 2px 2px 2px #7F4444;

}
#chatbox-bottom #question:focus{
  outline:none;
  border:2px solid #7F4444;
}
#chatbox-bottom button{
  border:none;
  outline:none;
  padding:0px;
}
#chatbox-bottom img{
  padding:0px;
}
#poweredBy{
  padding-top:7px;
  max-width:350px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  padding-left:80px;
  font-size:10px;
  color:#808080;
  font-weight:bold;
  padding-bottom:6px;
}
#input_search{
  position:relative;
}


#searchResult{
  /*background: url("../img/home-bg5.png");*/
  background:url("../img/searchResult.png");
  background-repeat:no-repeat;
  background-size:cover;
  width:100%;
}



#optionSearchResults{
  width:100%;
  display:flex;
  flex-direction: column;   
  align-items: center; 
  position:absolute;    
  z-index:11;
}

#optionSearchResult{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  width:40%;
  background:url("img/home-bg5.png") center/cover no-repeat;
  border-bottom:1px solid #06635a;
  background-color:white;
  transform:translateX(20px);
}
#statistics_box{
  display:flex;
  justify-content:center;
  align-items:center;
  height:500px;
}
#individuals{
  font-size:30px;
  transform:translateY(-50px);
  color:black;
}
#individuals div{
  text-align:center;
}
#families div{
  text-align:center;
}
#families{
  font-size:30px;
  color:black;
  transform:translateY(-50px);

}

#numberOfPeople,#numberOfFamilies{
  padding-top:15px;
  font-weight:bold;
  color:#7F4444;
}

#option{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  width: 100%;               /* or whatever length you want the border to be */
  background: url('img/home-bg5.png') center/cover no-repeat;
  border-bottom: 2px solid #7F4444;
}
#option:last-child{
    border-bottom:0px solid #7F4444;
}



#options{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:20px;
  padding-top:15px;
}
#options div label{
  color:white;
  font-size:15px;
}





#input_search input{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.message { 
  margin: 5px 0; 
}
.user {
   font-weight: bold; color: black; 
}
.bot { 
  font-weight: bold; color: #7F4444; 
}

/* end of chatbox */




#navbar{
  position:fixed;
  width:100%;
  z-index:5;
  height:60px;
}


/* dot pulse */
.dot-pulse {
  margin-left:300px;
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #7F4444;
  color: #7F4444;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.1s;
}
.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #7F4444;
  color: #7F4444;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px;
  }
}
