html, body {
    height: 100%;
    margin: 0;
}
html{
    scrollbar-color:#7F4444 white;
}

a.btn:hover {
     -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
     -o-transform: scale(0.9);
    color:white;
     background-color:#7F4444;

 }
 a.btn {
     -webkit-transform: scale(0.7);
     -moz-transform: scale(0.7);
     -o-transform: scale(0.7);
     -webkit-transition-duration: 5.0s;
     -moz-transition-duration: 5.0s;
     -o-transition-duration: 5.0s;
     color:white;
     background-color:#7F4444;
 }




.table.table-bordered.table-hover thead th {
    color: #7F4444 !important;
}
.table.table-bordered.table-hover tbody td{
    padding:1px 1px;
}



#table{
    width:70%;
    margin:left;
}


table thead tr th{
    color:#978888 !important;
}


#duringDropdown{
    display:none;
}
.nav-link {
    position: relative;
    color: #7F4444;
    transition: color 0.1s ease;
}
.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    left: 50%;
    bottom: 0;
    background-color: #7F4444;
    transition: 0.1s ease;
    transform: translateX(-50%);
}

.nav-link:hover::after{
    width: 100%;
}


div table thead tr th{
    color:#7F4444;
}
#hint{
  background-color:#ddffdd;
  border-left: 6px solid #7F4444;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;

}
input:hover,
input:focus{
  box-shadow: 5px 5px 7px 5px #7F4444!important;
  outline: none !important;
}
td,tr,th,table{
    border:1px solid black;
}
#introductionGreeting{
    font-size:2rem;
    color:#7F4444;
    padding-top:20px;
    padding-left:10px;
    font-weight:bold;
}
.dropdown-toggle::after {
    display: none !important;
}
.dropdown-item:hover{
    color:#7F4444 !important;
}
.dropdown-item:active{
    background-color:#DF8C8C !important;
}
#welcomeGreeting{
    padding-top:15px;
    padding-left:25px;
    font-size:1.2rem;
    color:black;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
}
#linksChart ul li{
    padding-left:15px;
    list-style-type:none;
    color:black;
    font-weight:normal;
    font-size:1rem;
}
#linksChart ul{
    color:#7F4444;
    font-weight:bold;
    font-size:1.2rem;
}