html{
    scrollbar-color:#7F4444 white;
}
#duringDropdown{
    display:none;
}
.nav-link {
    position: relative;
    color: #7F4444;
    transition: color 0.1s ease;
}
.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    left: 50%;
    bottom: 0;
    background-color: #7F4444;
    transition: 0.1s ease;
    transform: translateX(-50%);
}

.nav-link:hover::after{
    width: 100%;
}


div table thead tr th{
    color:#7F4444;
}
#hint{
  background-color:#ddffdd;
  border-left: 6px solid #7F4444;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;

}
input:hover,
input:focus{
  box-shadow: 5px 5px 7px 5px #7F4444!important;
  outline: none !important;
}
td,tr,th,table{
    border:1px solid black;
}